.home {
    justify-content: center !important;
    height: 76vh; width: 100%;
    display: flex;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: -2;
    
}

.data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 850px;
    margin: 0px;
    padding:25px;
    border-radius: 8px;
    background: #F9F9F9;
    box-shadow: 20px 20px 4px 1px rgba(0, 0, 0, 0.801);
    border: 1.5px inset black;
    /* max-height: 45vh; */
    margin-bottom: 0px;
    position: relative;
    top: -4vh;
}

.profilepic {
    border-radius: 50%;
    max-width: 220px;
    height: auto;
    border: 1.5px solid black;
    padding-right: 0px;
}

.pic-col {
    margin-left: 15px;
    margin-right: 15px;
}

h1 {
    color:black !important;
}

.social {
    max-height: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.socials-container {
    align-content: center;
    flex-direction: column;
}

