body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  justify-content: center;
  justify-items: center;
  background-repeat:repeat-y;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  position: absolute;
  width: 100%;
  z-index: -5;
}

.dashed-line{
  align-self: center;
  position: absolute;
  z-index: -2;
  border-top: 12px dashed #e0dd19;
  color: #ffffff;
  background-color: transparent;
  height: 2px;
  width: 100%;
  margin-top: 0vh;
}